body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff !important;
}

h1 {
    color: #142175;
    font-weight: bold;
    text-align: left; 
    margin-left: -130%; 
    margin-top: -340px;
    
    
}

.slider-container {
    position: absolute;
    width: 50%;
    margin: auto;
    margin-top: 25px;
    margin-left: -36%;

}

.movie-slider {
    display: flex;
    width: 100%;
}

.movie-track {
    display: flex;
    transition: transform 0.5s ease-in-out;

}

.movie-track img {
    width: 50%; 
    flex-shrink: 0;
    border-radius: 10px;
}

.movie-track img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-track img:hover, 
.movie-track img:active {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Apply blur */
    border: 2px solid rgba(0, 0, 0, 0.5); /* Add a border to indicate the click */
}




/* movie video and the detailed */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 80%;
    padding: 5%;
    background:  rgba(66, 49, 49, 0);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background: #b4b0b0;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    height: 105%;
    text-align: left;
    flex-direction: column;
    z-index: 100;
    position: relative;
}


.close {
    float: right;
    margin-top: -30px;
    font-size: 29px;
    cursor: pointer;
    z-index: 1003;
}


.modal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.poster {
    flex: 1; 
    position: relative; 
    margin-right: 20px; 
    width: 120%; /* Ensure it spans full width */
    max-width: 1140px;

}

.poster img {
    width: 101%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    
}

.play-btn {
    position: absolute;
    bottom: 110px; 
    left: 5%;
    transform: translateX(-50%);
    background: rgb(47, 11, 178);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 200;
}

.Movie-detail {
    flex: 1; 
    padding-left: 20px;
    z-index: 1;
    position: relative;
}

#movieTitle {
    
    font-weight: bold;
    margin-top: -90px;
    color: rgb(165, 25, 81);
}

#movieDescription {
     font-size: 14px;
    line-height: 1.1;
    margin-bottom: 15px;
    margin-top: -10px;
}


strong {
    color: rgb(14, 14, 141);

}


.video-modal { 
    background:  rgba(66, 49, 49, 0);
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    height: 105%;
    text-align: center;
    z-index: 3000;
    

}

#movieVideo {
    width: 95%;
    height: auto;
    margin-top: -5px;
    margin-left: 15px;
    border-radius: 10px;
    z-index: 3000;
}


















