body {
    font-family: Arial, sans-serif;
    background-color: rgb(196 179 179) !important;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    margin-top: 325px;
}

.titled {
    font-size: 35px;
    margin-left: 200px;
    font-weight: bold;
    color: #4c0941;
    margin-bottom: 10px;
}

.nav-menus {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    gap: 50px;
    font-size: 19px;
    font-weight: bold;
    color: rgb(124, 171, 70);
    margin-bottom: 20px;
}

.nav-menus a {
    text-decoration: none;
    color: rgb(90, 90, 14);
}

.nav-menus a:hover {
    text-decoration: underline;
}

.image-grid {
    display: flex;
    width: 950px;
    margin-left: -70px;
    margin-top: 25px;
    justify-content: center;
}

.image-container {
    position: relative;
    width: 750px;
}

.image-container img {
    width: 800px;
    height: auto;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
}

.description {
    margin-top: 15px;
    font-size: 12px;
    color: #092935;
    text-align: center;
    margin-left: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}