<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aboutus.css">
</head>
<body>

    <div class="container">
        <h1 class="title">ABOUT DREAM ANIMATION</h1>
        
        <nav class="nav-menu">
            <a href="#story">Story</a>
            <a href="#iconic">Iconic</a>
            <a href="#award">Award</a>
            <a href="#tech">Tech</a>
        </nav>
        
        <!-- image -->
        <div class="image-grid">
            <div class="image-container">
                <img src="\Frontend\src\assets\images\about1.png" alt="Our Story">
                <div class="overlay">Our Story</div>
                <p class="description">
                    Dream Animation Studio was born from a shared passion for storytelling and the belief that 
                    animation is a powerful medium to spark imagination.
                </p>
            </div>


            <div class="image-container">
                <img src="\Frontend\src\assets\images\about2.png" alt="Iconic Movie">
                <div class="overlay">Iconic Movie</div>
                <p class="description">
                    Dream Animation Studio is home to some of the world’s most beloved franchises, including Shrek, 
                    Madagascar, Kung Fu Panda, Trolls, The Boss Baby, The Croods, and How to Train Your Dragon.
                </p>
            </div>


            <div class="image-container">
                <img src="\Frontend\src\assets\images\about3.png" alt="Award Winning">
                <div class="overlay">Award Winning</div>
                <p class="description">
                    Dream Animation Studio isn’t just known for its blockbuster films; we’ve also made a
                     significant mark in the world of television. 
                </p>
            </div>


            <div class="image-container">
                <img src="\Frontend\src\assets\images\about4.png" alt="Innovation Technology">
                <div class="overlay">Innovation Technology</div>
                <p class="description">
                    Dream Animation Studio leads the way in technological innovation, combining artistry with the latest 
                    tools to bring stories to life.
                </p>
            </div>
        </div>
    </div>
</body>
</html>

    
</body>
</html>