<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aboutus.css">
</head>
<body>

    <div class="container">
        <h1 class="title">ABOUT DREAM ANIMATION</h1>
        
        <nav class="nav-menu">
            <a href="#story">Story</a>
            <a href="#iconic">Iconic</a>
            <a href="#award">Award</a>
            <a href="#tech">Tech</a>
        </nav>
        
        <!-- image -->
        <div class="image-grid">
            <div class="image-container">
                <img src="\Frontend\src\assets\images\about1.png" alt="Our Story">
                <div class="overlay">Our Story</div>
            </div>


            <div class="image-container">
                <img src="\Frontend\src\assets\images\about2.png" alt="Iconic Movie">
                <div class="overlay">Iconic Movie</div>
            </div>


            <div class="image-container">
                <img src="\Frontend\src\assets\images\about3.png" alt="Award Winning">
                <div class="overlay">Award Winning</div>
            </div>


            <div class="image-container">
                <img src="\Frontend\src\assets\images\about44.png" alt="Innovation Technology">
                <div class="overlay">Innovation Technology</div>
            </div>
        </div>
    </div>
</body>
</html>

    
</body>
</html>