/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #4d4a56;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #07031c;
    margin-bottom: 10px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 19px;
    font-weight: bold;
    color: rgb(7, 14, 198);
    margin-bottom: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(4, 17, 92);
}

.nav-menu a:hover {
    text-decoration: underline;
}

.image-grid {
    display: flex;
    gap: 10%;
    width: 950px; 
    margin-left: 110%;
    margin-top: 5%;
    justify-content: center;
}

.image-container {
    position: relative;
    width: 750px;
}

.image-container img {
    width: 750px;
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
}

.description {
    font-size: 16px;
    color: #040f13; /* Adjust color */

}
