<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="registration.css">
</head>
<body>
    <div class="wrapper">
        <img src="\Frontend\src\assets\images\login1.png" alt="Login">
        <div class="form-wrapper register">
            <form action="">
                <h2>Registration</h2>
                <div class="input-box">
                    <input type="text" placeholder="Full Name" required>
                </div>
                <div class="input-box">
                    <input type="email" placeholder="Email" required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="password" required>
                </div>
                <button type="submit">Register</button>
                
                <div class="sign-link">
                    <p>Already have an account? <a href="#"><strong>Log In</strong></a></p>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>