* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0c0c0c;
}

.wrapper {
    position: relative;
    width: 900px;
    height: 550px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    align-items: center;
}

.wrapper img {
    width: 50%;
    flex: 1; 
    max-width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 20px;
}

/* Form Wrapper Styling */
.form-wrapper {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0a0909;
}

.form-wrapper h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
    text-align: center;
    color: #0b0b0b;
}

.signup-container {
    font-size: 0.9em;
    text-align: left;  
    margin: 20px auto;  
    width: 80%;  
    margin-top: 2px;
    margin-left: 10px;
}

.login-container p a {
    color: #4244ca;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}

.input-container {
    margin-bottom: 30px;
    width: 390px;
}

.input-container label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 8px;
    color: #0f0e0e;
    margin-left: -300px;
}

.input-container input {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    border: 2px solid #101010;
    border-radius: 25px;
    background: transparent;
    color: #0c0b0b;
    outline: none;
    font-size: 1em;
}

.input-container input::placeholder {
    color: rgba(16, 15, 15, 0.5);
}

/* Password Icon */
.input-container.password i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #0b0b0b;
    cursor: pointer;
}


/* Button Styling */
button.signup-btn {
    width: 70%;
    height:45px;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    background: #858dcb;
    color: #090c03;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        height: auto;
    }

    .wrapper img {
        width: 100%;
        height: auto;
        border-radius: 30px 30px 0 0;
    }

    .form-wrapper {
        padding: 20px;
    }
}
